.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp*
*.html
*.docx
Data/
R/Archive/
Outputs/
Manuscript/
Processed Data/dra_subset.gpkg
Processed Data/da_v3_2021.gpkg
Processed Data/da_v2_2021.gpkg
Processed Data/da_v1_2021.gpkg
Processed Data/census_2021.csv
Processed Data/da_buffer_2021.gpkg
R/05_modeling_neighbourhood_ses.html
Supplementary Material/Supplementary Material 1/
*.jpg
